/*tictactoe.css*/
td{
  border-style: solid;
  border-top: 0;
  border-left: 0;
  width: 200px;
  height: 200px;
  text-align: center;
}

#right{
  border-right: 0;
}

#bottom{
  border-bottom: 0;
}

#bottomRight{
  border-right: 0;
  border-bottom: 0;
}

.selected{
  font-size: 60px;
  font-weight: bold;
}
